ORCH_INGESTION_SERVICE_URL=http://localhost:8001
ORCH_KG_SERVICE_URL=http://localhost:8002
ORCH_LLM_MODEL=codellama:latest
ORCH_OLLAMA_BASE_URL=http://localhost:11434
ORCH_RAG_TOP_K=4
ORCH_HISTORY_PATH=./data/orchestrator_history.json
